{% extends 'base.html.twig' %}

{% block test %}
    {{ form_start(form) }}

    <div class="form-row align-items-end" >
        <div class="col">
            {{ form_row(form.minPrice) }}
        </div>
        <div class="col">
            {{ form_row(form.maxPrice) }}
        </div>

        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-success">Rechercher</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    {% if articles %}
<table class="table">
    <thead>
    <tr>
        <th>Idseance</th>
        <th>Nomclasse</th>
        <th>Matiere</th>
        <th>Heure</th>
        <th>Dateseance</th>
        <th>idens</th>

        <th>actions</th>
        <th></th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for seance in seances %}
        <tr>
            <td>{{ seance.idseance }}</td>
            <td>{{ seance.nomclasse }}</td>
            <td>{{ seance.matiere }}</td>
            <td>{{ seance.heure }}</td>
            <td>{{ seance.dateseance }}</td>
            <td>{{ seance.idens }}</td>

            <td>
                <a href="{{ path('seance_edit', {'idseance': seance.idseance}) }}" class="btn btn-primary ">edit</a>
            </td>
            <td>
                {{ include('seance/_delete_form.html.twig') }}
            </td> <td>
                <a href="{{ path('seance_show', {'idseance': seance.idseance}) }}"class="btn btn-dark" >show</a>
            </td>


        </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    </tbody>

            {% endfor %}
            </tbody>
        </table>
<a href="{{ path('seance_new') }}"class="btn btn-info">Create new</a>

    {% else %}
        <p>Aucun articles</p>
    {% endif %}
{% endblock %}