{% extends 'baseBack.html.twig' %}

{% block title %}Edit Depense{% endblock %}

{% block body %}
    <h1>Classe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idclasse</th>
                <td>{{ classe.idclasse }}</td>
            </tr>
            <tr>
                <th>Nomclasse</th>
                <td>{{ classe.nomclasse }}</td>
            </tr>
            <tr>
                <th>Nbr</th>
                <td>{{ classe.nbr }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ classe.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('classe_index') }}" class="btn btn-info">back to list</a>


{% endblock %}
